# /.gitignore
# Tells Git to ignore these files

node_modules/
dist/
coverage/

.vscode/
.idea/

*.log
*.tmp
*.bak
*.tgz

test/external/imports/*/*/package-lock.json

# breaks CI, apparently https://github.com/express-rate-limit/express-rate-limit/pull/518
pnpm-workspace.yaml