# /.prettierignore
# Tells Prettier to ignore these files

package.json
package-lock.json
pnpm-lock.yaml

# The following is copied over from .gitignore

node_modules/
dist/
coverage/
test/external/**/package-lock.json

.vscode/
.idea/

*.log
*.tmp
*.bak
*.tgz
