# /.github/workflows/ci.yaml
# GitHub actions workflow

name: CI

on: [push, pull_request]

jobs:
  lint:
    name: Lint
    strategy:
      matrix:
        node-version: [16.x]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2
      - name: Use Node ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Check for lint/formatting errors
        run: |
          npm ci
          npm run lint
  test_lib:
    name: Test (Library)
    strategy:
      matrix:
        node-version: [14.x, 15.x, 16.x, 17.x]
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2
      - name: Use Node ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Run library tests
        run: |
          npm ci
          npm run test:lib
  test_ext:
    name: Test (External)
    strategy:
      matrix:
        node-version: [14.x, 15.x, 16.x, 17.x]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    services:
      rate-limit-redis:
        image: redis
        ports:
          - 6379:6379
      rate-limit-mongo:
        image: mongo
        ports:
          - 27017:27017
      rate-limit-memcached:
        image: memcached
        ports:
          - 11211:11211
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2
      - name: Use Node ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Run import and external store usage tests
        run: |
          npm ci
          npm pack
          npm run test:ext
  publish:
    name: Publish
    needs: [lint, test_lib, test_ext]
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
      - name: Install dependencies
        run: npm ci
      - name: Publish package to NPM
        run: |
          npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Create a Github release with the compiled code
        uses: softprops/action-gh-release@v1
        with:
          files: express-rate-limit*.tgz
          body:
            You can view the changelog
            [here](https://github.com/nfriedly/express-rate-limit/blob/master/changelog.md).
