# /.github/workflows/ci.yaml
# GitHub actions workflow to run tests on each commit, and publish new tags.

name: CI

on: [push, pull_request]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      - name: Use Node LTS
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Setup PNPM
        uses: pnpm/action-setup@v3
        with:
          version: 10
      - name: Check for lint/formatting errors
        run: |
          pnpm install
          pnpm run lint
  test-library:
    name: Test (Library)
    strategy:
      matrix:
        node-version: [lts/gallium, lts/*, latest]
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      - name: Use Node ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Setup PNPM
        uses: pnpm/action-setup@v3
        with:
          version: 10
      - name: Run library tests
        run: |
          pnpm install
          pnpm run test:lib
  test-external:
    name: Test (External)
    strategy:
      matrix:
        node-version: [lts/*, latest]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      - name: Use Node ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Setup PNPM
        uses: pnpm/action-setup@v3
        with:
          version: 10
      - name: Run import and external store usage tests
        run: |
          pnpm install
          pnpm pack
          pnpm test:ext
  publish:
    name: Publish
    needs: [lint, test-library, test-external]
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      - name: Use Node LTS
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          registry-url: https://registry.npmjs.org/
      - name: Setup PNPM
        uses: pnpm/action-setup@v3
        with:
          version: 10
      - name: Install dependencies
        run: pnpm install
      - name: Publish package to NPM
        run: npm publish --provenance
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Build package to upload to GitHub releases
        run: |
          pnpm pack
          mv express-rate-limit-*.tgz express-rate-limit.tgz
      - name: Create a Github release
        uses: softprops/action-gh-release@v1
        with:
          files: express-rate-limit.tgz
          body:
            You can view the changelog
            [here](https://express-rate-limit.mintlify.app/reference/changelog).
