# /.github/workflows/ci.yaml
# GitHub actions workflow

name: CI

on: [push, pull_request]

jobs:
  lint:
    name: Lint
    strategy:
      matrix:
        node-version: [20]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3
      - name: Use Node ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Check for lint/formatting errors
        run: |
          npm ci
          npm run lint
  test-library:
    name: Test (Library)
    strategy:
      matrix:
        node-version: [14, 16, 18, 20]
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3
      - name: Use Node ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Run library tests
        run: |
          npm ci
          npm run test:lib
  test-external:
    name: Test (External)
    strategy:
      matrix:
        node-version: [14, 16, 18, 20]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3
      - name: Use Node ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Run import and external store usage tests
        run: |
          npm ci
          npm pack
          npm run test:ext
  publish:
    name: Publish
    needs: [lint, test-library, test-external]
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/
      - name: Install dependencies
        run: npm ci
      - name: Publish package to NPM
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Build package to upload to GitHub releases
        run: |
          npm pack
          mv express-rate-limit-*.tgz express-rate-limit.tgz
      - name: Create a Github release
        uses: softprops/action-gh-release@v1
        with:
          files: express-rate-limit.tgz
          body:
            You can view the changelog
            [here](https://github.com/nfriedly/express-rate-limit/blob/master/changelog.md).
