# /.github/workflows/release.yaml
# Build and publish the library when a new tag is pushed

name: Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  test:
    name: Test
    strategy:
      matrix:
        node-version: [12.x, 14.x, 15.x, 16.x, 17.x]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      # This is required to ensure the linter does not fail on Windows
      - name: Disable `git autocrlf`
        run: |
          git config --global core.autocrlf false
      - name: Checkout the repository
        uses: actions/checkout@v2
      - name: Use Node ${{ matrix.node-version }} on ${{ matrix.os }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm ci
      - name: Build, lint and test the library
        run: npm test
      - name: Upload coverage report
        uses: actions/upload-artifact@v2
        with:
          name: Coverage Report
          path: coverage/lcov-report

  publish:
    name: Publish
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
      - name: Install dependencies
        run: npm ci
      - name: Build the package
        run: |
          npm run build
          npm pack
          mv express-rate-limit-*.tgz express-rate-limit.tgz
      - name: Publish package to NPM
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Create a Github release with the compiled code
        uses: softprops/action-gh-release@v1
        with:
          files: express-rate-limit.tgz
          body:
            You can view the changelog
            [here](https://github.com/nfriedly/express-rate-limit/blob/master/changelog.md).
